<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <link rel="stylesheet" href="about.css">
</head>
  <div class="container">
    <body>
      <header>
        <h1>My Restaurant</h1>
        <nav>
          <%= link_to 'Home', root_path%>
        </nav>
      </header>
      <section class="section-1">
        <div class="title">
          <h1>Section-1</h1>
        </div>
        <p>This is section one
          where you can put texts
          on it</p>
      </section>
      <section class="section-2">
        <div class="title">
          <h2>Section-2</h2>
        </div>
        <p>This is section two
          where you can put texts
          on it</p>
      </section>
      <footer>
        <p>This is the footer!</p>
      </footer>


    </body>
  </div>
</html>